body{
    /* background-color: rgba(0, 0, 0, 0.630); */
    /* color: white; */
}

.fixed{
    position: fixed;
}
li{
    font-size: 25px;
}

.header{
    margin-left: 30px;
}
.m{
    margin-right: 100px;
    
}
.font{
    font-size: 25px;
}
.mm{ 
    /* background-color:rgba(198, 6, 6, 0.1); */
    /* color: white; */
    margin: 40px;
}
h5{
    font-size: 35px;
}

p{
/* letter-spacing: 1px; */
font-size: 20px;
}
.m2{
    
    padding-top: 100px;
}
.m a {
    width: 100px;
    font-size: 30px;
}
/* .m3{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.195);
} */
.m4{
    margin-top: 50px;
    border: 2px solid red;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    font-size: 25px;
    
}
.about{
    border-radius: 10px;
}
.about-h{
    border-bottom: 2px solid rgba(0, 0, 0, 0.892);
    padding-left: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.project-1{
    margin-bottom: 10px;
}